/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
    background-color: #f9e7ab;
}

.navbar-bghs {
    background-color: #7f4f2f;
    border-color: #5f2f0f;
}
.navbar-bghs .navbar-brand {
    color: #bfbfbf;
}
.navbar-bghs .navbar-nav > li > a {
    color: #bfbfbf;
}

p.date {
    background-color: #c7c7c7;
}

.carousel-inner {
    height: 600px;
    text-align: center;
}

.carousel-inner > .item > img {
    left: auto;
    right: auto;
}

.carousel .item > img {
    display: inline-block;
}

.carousel-indicators li {
    border: 1px solid rgb(128, 128, 128);
}

#trailMap {
  width: 100%;
  height: 500px;
  margin: 0;
  border: 1px solid #000000;
}

.jumbotron-bghs {
    padding-top: 32px;
    padding-bottom: 32px;
}

.jumbotron-bghs img {
    float: right;
}

.table-bghs thead > tr > th,
.table-bghs tbody > tr > th,
.table-bghs tfoot > tr > th,
.table-bghs thead > tr > td,
.table-bghs tbody > tr > td,
.table-bghs tfoot > tr > td {
    border-top: 1px solid #5F2F0F;
}

.table-bghs thead > tr > th {
  border-bottom: 2px solid #5F2F0F;
}
